@media(max-width:500px){
    #secao{
        display:flex;
        flex-direction: column;
    }

    .pesquisa{
        width:110%;
    }
}

@media(min-width:1600px){
    main{
        transform:scale(1.5)
    }
}